*{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
html{
	font-size: 10px;
}
div{
	box-sizing: border-box;
}
@media only screen and (min-width: 371px){
    html {font-size: 11px !important;}
  }
@media only screen and (min-width: 401px){
  html {font-size: 12px !important;}
}
@media only screen and (min-width: 428px){
  html {font-size: 13px !important;}
}
@media only screen and (min-width: 481px){
  html {font-size: 14px !important;}
}
@media only screen and (min-width: 569px){
  html {font-size: 15px !important;}
}
.oneshangping{
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: white;
}
.oneshangping>img{
	
	width: 100%;
	height: 100%;
}